<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document One</title>
    <style>
        body {
            background: skyblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        div{
            display: flex;
            justify-content: center;
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: 13px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <%- include ('partials/nav'); %>
    <div>
        <h6>hobbies of <%= ppl %></h6>
        <ul>
            <% data.hobbies.forEach((hob) => {%>
                <li><%= hob %></li>
            <%}); %>
            <li><%= data.name %></li>
        </ul>
    </div>
    
</body>

</html>